---
title: "Web Consultant/Engineer :: Ruby on Rails, HTML, CSS, and JavaScript :: Boulder, Colorado"
keywords: "Boulder, Colorado, San, Diego, Developer, Rails, Ruby, Responsive, JavaScript, Adaptive, jQuery Freelancer, Consultant, Web, Production, Remote, Hire, California, Audio, Work, XHTML, CSS, Web Design, Web Developer, Digital Media, Media, C#, .NET, Consultant, HTML5, CSS3"
description: "Rylan Bowers is a Web Developer currently located in Boulder, Colorado with over several years experience working with HTML/CSS, JavaScript, .Net, Ruby and Rails to create custom cross-browser Web sites. I also have experience with C# and the .Net Framework, PHP, MySQL, a strong Computer Science background and a love for digital media and technology."
page_name: "homepage"
---

/ Banner
#banner
  %h2#portfolio
    %strong Portfolio
  %span.byline
    As a Full-Stack Web Consultant/Engineer

/ Carousel
.carousel
  .reel
    %article
      %a.image.featured{href: "http://www.urbanmattress.com/"}
        %img{alt: "Urban Mattress Screenshot", src: "images/portfolio/urbanmattress.png"}/
      %header
        %h3
          %a{href: "http://www.urbanmattress.com/"} Urban Mattress
      %p HTML / CSS / JavaScript / Craft CMS
      %p Responsive / Adapative

    %article
      %a.image.featured{href: "http://trip30.com/"}
        %img{alt: "Trip30 Screenshot", src: "images/portfolio/trip30-1.png"}/
      %header
        %h3
          %a{href: "http://trip30.com/"} Trip30
      %p HTML / CSS / JavaScript
      %p Responsive / Adapative

    %article
      .image.featured
        %img{alt: "Thoughts on Time Screenshot", src: "images/portfolio/thoughts_on_time.png"}/
      %header
        %h3
          Thoughts on Time
      %p Ruby on Rails / JavaScript
      %p HTML / CSS / Responsive

    %article
      %a.image.featured{href: "https://www.zisboombah.com/"}
        %img{alt: "Zisboombah - Where it's ok to play with your food", src: "images/portfolio/zisboombah.png"}/
      %header
        %h3
          %a{href: "https://www.zisboombah.com/"} Zisboombah
      %p Ruby on Rails / JavaScript
      %p HTML / CSS

    %article
      %a.image.featured{href: "https://jasonshouse.com/"}
        %img{alt: "Jason's House - Empowering Home Buyers", src: "images/portfolio/jasonshouse.png"}/
      %header
        %h3
          %a{href: "https://jasonshouse.com/"} Jason's House
      %p Ruby on Rails / JavaScript
      %p HTML / CSS

    %article
      %a.image.featured{href: "http://college.captainu.com"}
        %img{alt: "CaptainU College", src: "images/portfolio/captainu.png"}/
      %header
        %h3
          %a{href: "http://college.captainu.com"} CaptainU / College
      %p Ruby on Rails / JavaScript
      %p Ember / Responsive

    %article
      %a.image.featured{href: "http://www.youknowyouloveit.com/"}
        %img{alt: "I Love Boulder Website", src: "images/portfolio/youknowyouloveit.png"}/
      %header
        %h3
          %a{href: "http://www.youknowyouloveit.com/"} You Know You Love It
      %p HTML / CSS
      %p Adaptive

    %article
      .image.featured
        %img{alt: "I Love Boulder Website", src: "images/portfolio/i_love_boulder.png"}/
      %header
        %h3
          %a{href: "http://loveboulder.org/"} I Love Boulder
      %p HTML / CSS / JavaScript
      %p Quick Left / Berger & F&ouml;hr

    %article
      %a.image.featured{href: "http://nextgreatplace.com"}
        %img{alt: "NextGreatPlace / NextGreat Trip", src: "images/portfolio/nextgreatplace.png"}/
      %header
        %h3
          %a{href: "http://nextgreatplace.com"} Next Great Place
      %p Ruby on Rails / JavaScript
      %p HTML / CSS / Responsive

#other_clients
  %article.container.special
    %header
      %h2#portfolio
        %strong Other Client Projects
    .row
      %article.2u
        %a.featured{href: "http://www.sunkist.com/"}
          Sunkist

      %article.2u
        %a.featured{href: "http://chickenofthesea.com/"}
          Chicken of the Sea

      %article.2u
        %a.featured{href: "http://www.chiquitabananas.com/"}
          Chiquita Bananas

      %article.2u
        %a.featured{href: "http://grey.com/"}
          Grey Advertising

      %article.2u
        %a.featured{href: "https://www.chatlingual.com/"}
          ChatLingual

      %article.2u
        %a.featured{href: "http://www.qtrback.org"}
          Quarterback

    .row
      %article.2u
        %a.featured{href: "http://www.cpbgroup.com/"}
          Crispin Porter + Bogusky

      %article.2u
        %a.featured{href: "http://www.dojo4.com/"}
          dojo4

      %article.2u
        %a.featured{href: "http://www.lagrangesystems.com/"}
          Lagrange Systems

      %article.2u
        %a.featured{href: "http://projectalert.com/"}
          Project Alert

      %article.2u
        %a.featured{href: "http://www.mikeshard.com/"}
          Mike's Hard Lemonade

      %article.2u
        %a.featured{href: "http://climaterealityproject.org/"}
          Climate Reality Project


/ Main
.wrapper.style2#about
  %article#main.container.special
    %header
      %h2
        %a.scrolly{href: "#about"} About Rylan
      %span.byline
        Full-Stack Web Consultant/Engineer
      %br/
      %br/
    .row
      .1u
      %article.5u
        %p
          Rylan currently lives in Boulder, CO. He has been freelancing since April 2012 and consults on a variety of front-end and back-end client projects for start-ups and established companies.

        %p
          He emphasizes clean, crafted, and tested code. Rylan works with proven technologies to architect applications that are easy to read, maintain, and iteratively improve upon. He builds, maintains, and improves web applications for several start-up clients.

        %p In his free-time, Rylan volunteers, rides bikes, climbs, reads, travels, DJs, hikes, camps, and snowboards. He also attempts to play guitar and speak Spanish.

        %h3 Web Technologies
        %p
          <strong> Extensive Experience:</strong> Ruby on Rails, JavaScript/jQuery, HTML, CSS, and Git. Client and Project Management.
        %p
          <strong> Versed:</strong> Backbone, Ember, Angular, React, and DevOps.
      %article.5u.image
        %img{alt: "Rylan Bowers - Web Developer", src: "images/rylan.png"}/

      .1u


    %footer
      %a.scrolly.button{href: "#contact"} Contact

/ Features
#resume.wrapper.style1
  %section.container.special
    %header
      %h2 Resume
      %span.byline Covering Full-Time Employment through 2012
    .row
      %article.12u.special
        %header
          %a{href: "/pdfs/Rylan_Bowers_Resume.pdf"}
            %span.icon.fa-file-pdf-o &nbsp;
            Rylan's Resume
        %footer
          %a.scrolly.button{href: "#portfolio"} Web Consultant Portfolio
