---
title: "Full Stack Web Developer Consultant/Freelancer :: Ruby on Rails, HTML, CSS, and JavaScript :: Boulder, Colorado"
keywords: "Boulder, Colorado, San, Diego, Developer, Rails, Ruby, Responsive, Javascript, Adaptive, jQuery Freelancer, Consultant, Web, Production, Remote, Hire, California, Audio, Work, XHTML, CSS, Web Design, Web Developer, Digital Media, Media, C#, .NET, Consultant, HTML5, CSS3"
description: "Rylan Bowers is a Web Developer currently located in Boulder, Colorado with over several years experience working with HTML/CSS, Javascript, .Net, Ruby and Rails to create custom cross-browser Web sites. I also have experience with C# and the .Net Framework, PHP, MySql, SQL Server, XML, Actionscript, a strong Computer Science background and a love for digital media and technology."
page_name: "homepage"
---

/ Banner
#banner
  %h2#portfolio
    Rylan's
    %strong Portfolio
  %span.byline
    As a Freelance Web Developer

/ Carousel
.carousel
  .reel
    %article
      %a.image.featured{href: "http://loveboulder.org/"}
        %img{alt: "I Love Boulder Website", src: "images/portfolio/i_love_boulder.png"}/
      %header
        %h3
          %a{href: "http://loveboulder.org/"} I Love Boulder
      %p HTML/CSS/jQuery
      %p Worked with Quick Left / Berger & Föhr

    %article
      %a.image.featured{href: "http://mdomaradzki.deviantart.com/art/Disco-351602759"}
        %img{alt: "", src: "images/pic02.jpg"}/
      %header
        %h3
          %a{href: "#"} Fermentum sagittis proin
      %p Commodo id natoque malesuada sollicitudin elit suscipit magna.
    %article
      %a.image.featured{href: "http://mdomaradzki.deviantart.com/art/The-Patina-of-Time-and-Tide-352128094"}
        %img{alt: "", src: "images/pic03.jpg"}/
      %header
        %h3
          %a{href: "#"} Sed quis rhoncus placerat
      %p Commodo id natoque malesuada sollicitudin elit suscipit magna.
    %article
      %a.image.featured{href: "http://mdomaradzki.deviantart.com/art/Cityparts-XVIII-350427779"}
        %img{alt: "", src: "images/pic04.jpg"}/
      %header
        %h3
          %a{href: "#"} Ultrices urna sit lobortis
      %p Commodo id natoque malesuada sollicitudin elit suscipit magna.
    %article
      %a.image.featured{href: "http://mdomaradzki.deviantart.com/art/Vine-Country-381350120"}
        %img{alt: "", src: "images/pic05.jpg"}/
      %header
        %h3
          %a{href: "#"} Varius magnis sollicitudin
      %p Commodo id natoque malesuada sollicitudin elit suscipit magna.
    %article
      %a.image.featured{href: "http://mdomaradzki.deviantart.com/art/Bueller-III-351975087"}
        %img{alt: "", src: "images/pic01.jpg"}/
      %header
        %h3
          %a{href: "#"} Pulvinar sagittis congue
      %p Commodo id natoque malesuada sollicitudin elit suscipit magna.
    %article
      %a.image.featured{href: "http://mdomaradzki.deviantart.com/art/Disco-351602759"}
        %img{alt: "", src: "images/pic02.jpg"}/
      %header
        %h3
          %a{href: "#"} Fermentum sagittis proin
      %p Commodo id natoque malesuada sollicitudin elit suscipit magna.
    %article
      %a.image.featured{href: "http://mdomaradzki.deviantart.com/art/The-Patina-of-Time-and-Tide-352128094"}
        %img{alt: "", src: "images/pic03.jpg"}/
      %header
        %h3
          %a{href: "#"} Sed quis rhoncus placerat
      %p Commodo id natoque malesuada sollicitudin elit suscipit magna.
    %article
      %a.image.featured{href: "http://mdomaradzki.deviantart.com/art/Cityparts-XVIII-350427779"}
        %img{alt: "", src: "images/pic04.jpg"}/
      %header
        %h3
          %a{href: "#"} Ultrices urna sit lobortis
      %p Commodo id natoque malesuada sollicitudin elit suscipit magna.
    %article
      %a.image.featured{href: "http://mdomaradzki.deviantart.com/art/Vine-Country-381350120"}
        %img{alt: "", src: "images/pic05.jpg"}/
      %header
        %h3
          %a{href: "#"} Varius magnis sollicitudin
      %p Commodo id natoque malesuada sollicitudin elit suscipit magna.

/ Main
.wrapper.style2#about
  %article#main.container.special
    %a.image.featured{href: "http://mdomaradzki.deviantart.com/art/Planet-Bronte-339258500"}
      %img{alt: "Rylan Bowers - Web Developer", src: "images/pic06.jpg"}/
    %header
      %h2
        %a{href: "#about"} About
      %span.byline
        Full-stack web developer
    %p
      I have extensive experience in HTML, CSS, Javascript/jQuery, Ruby on Rails, and Git.
    %p
      I am also versed in Backbone, Ember and DevOps.
    %p
      I currently live in Boulder, CO and most recently worked at Quick Left on front and back-end projects coupled with client and project management. I focus on standards and craftsmanship with my code.

    %p
      I'd love to speak with you.

    %footer
      %a.scrolly.button{href: "#contact"} Contact

/ Features
#resume.wrapper.style1
  %section.container.special
    %header
      %h2 Resume
      %span.byline Covering Full-Time Employment
    .row
      %article.4u.special
        %a.image.featured{href: "http://mdomaradzki.deviantart.com/art/Bueller-VII-351975126"}
          %img{alt: "", src: "images/pic07.jpg"}/
        %header
          %h3
            %a{href: "#"} Gravida aliquam penatibus
        %p
          Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
          porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
      %article.4u.special
        %a.image.featured{href: "http://mdomaradzki.deviantart.com/art/Home-Bound-Train-II-338912191"}
          %img{alt: "", src: "images/pic08.jpg"}/
        %header
          %h3
            %a{href: "#"} Sed quis rhoncus placerat
        %p
          Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
          porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
      %article.4u.special
        %a.image.featured{href: "http://mdomaradzki.deviantart.com/art/Up-is-Down-325005102"}
          %img{alt: "", src: "images/pic09.jpg"}/
        %header
          %h3
            %a{href: "#"} Magna laoreet et aliquam
        %p
          Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
          porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
