%footer.navbar{role: "banner"}
  %ul.nav.clearfix.inline-nav.pull-right{role: "navigation"}
    %li.resume-link
      %a{href: "#Resume"} Resume
    %li.portfolio-link
      %a{href: "#Portfolio"} Portfolio
    %li.contact-link
      %a{href: "#Contact"} Contact

  %p &copy; Rylan Bowers. All rights reserved.
