/ Footer
#footer{role: "banner"}
  .container{role: "navigation"}
    .row
      / Tweets
      %section.4u
        %header
          %h2.icon.fa-twitter.circled
            %span Tweets
        %a.twitter-timeline{ href: "https://twitter.com/rylanb?ref_src=twsrc%5Etfw" }
          Tweets by @rylanb
          %script{src: "https://platform.twitter.com/widgets.js"}
      / Posts
      %section.4u
        %header
          %h2.icon.fa-cloud-download.circled
            %span Files
        %ul.divided
          %li
            %article.post.stub
              %header
                %h3
                  %a{href: "/pdfs/Rylan_Bowers_Resume.pdf"} Full-Time Employment Resume
              %span.timestamp College to April 2012
          %li
            %article.post.stub
              %header
                %h3
                  %a.scrolly{href: "#portfolio"} Freelance Portfolio
              %span.timestamp April 2012 to Present

      / Photos
      %section.4u
        %header
          %h2.icon.fa-camera.circled
            %span Photos
        .row.quarter.no-collapse
          .12u.center-text{style:"text-align: center;"}
            <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BS9tfTAAWdp/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">How did you get to Easter brunch!?</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Rylan Bowers (@rylan.bowers) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-04-16T23:12:30+00:00">Apr 16, 2017 at 4:12pm PDT</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
        /     %a.image.full{href: "//mdomaradzki.deviantart.com/art/Air-Lounge-385212062"}
        /       %img{:alt => "", :src => "images/pic10.jpg"}/
        /   .6u
        /     %a.image.full{href: "//mdomaradzki.deviantart.com/art/Paris-City-Streets-II-382623606"}
        /       %img{:alt => "", :src => "images/pic11.jpg"}/
        / .row.quarter.no-collapse
        /   .6u
        /     %a.image.full{href: "//mdomaradzki.deviantart.com/art/Trainride-Visions-383309985"}
        /       %img{:alt => "", :src => "images/pic12.jpg"}/
        /   .6u
        /     %a.image.full{href: "//mdomaradzki.deviantart.com/art/Paris-Metro-382623851"}
        /       %img{:alt => "", :src => "images/pic13.jpg"}/
        / .row.quarter.no-collapse
        /   .6u
        /     %a.image.full{href: "//mdomaradzki.deviantart.com/art/Cliffs-of-Coogee-II-366961860"}
        /       %img{:alt => "", :src => "images/pic14.jpg"}/
        /   .6u
        /     %a.image.full{href: "//mdomaradzki.deviantart.com/art/Stormy-Coast-VII-366561367"}
        /       %img{:alt => "", :src => "images/pic15.jpg"}/
    %hr/
    .row
      .12u
        / Contact
        %section#contact.contact
          %header
            %h3 Where to find Rylan
          /%p I'd love to have a conversation with you!
          %ul.icons
            %li
              %a.icon.fa-envelope{href: "mailto:rylan.bowers@gmail.com"}
                %span.label Email
            %li
              %a.icon.fa-mobile{href: "tel:760-815-5611"}
                %span.label Telephone
            %li
              %a.icon.fa-github-alt{href: "//github.com/rylanb"}
                %span.label Github
            %li
              %a.icon.fa-linkedin{href: "//www.linkedin.com/pub/rylan-bowers/6/320/360/"}
                %span.label Linkedin
            %li
              %a.icon.fa-twitter{href: "//twitter.com/rylanb"}
                %span.label Twitter
            %li
              %a.icon.fa-soundcloud{href: "//soundcloud.com/prove1"}
                %span.label SoundCloud
        / Copyright
        .copyright
          %ul.menu
            %li &copy; Rylan Bowers. All rights reserved.
            %li
              %a{href: "http://html5up.net/"} Design
            %li.home-link
              %a.scrolly{href: "#home"} Top
            %li.portfolio-link
              %a.scrolly{href: "#portfolio"} Portfolio
            %li.home-link
              %a.scrolly{href: "#about"} About
            %li.resume-link
              %a.scrolly{href: "#resume"} Resume
            %li.contact-link
              %a.scrolly{href: "#contact"} Contact
