%header.navbar{role: "banner"}

  .row.primary-nav
    %nav.container
      .logo.pull-left
        %a{:href => "/"}
          %img{src: "/img/rylan_bowers_logo.png", alt: "Rylan Bowers' Logo"}/
      %ul.nav.clearfix.inline-nav.pull-right{role: "navigation"}
        %li.resume-link
          %a{href: "#Resume"} Resume
        %li.portfolio-link
          %a{href: "#Portfolio"} Portfolio
        %li.contact-link
          %a{href: "#Contact"} Contact
